<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png">
        <!-- animate scss -->
        <link rel="stylesheet" href="/assets/css/animate.css">
        <!-- bootstarp css -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <!-- icofont -->
        <link rel="stylesheet" href="/assets/css/icofont.min.css">
        <!-- lightcase css -->
        <link rel="stylesheet" href="/assets/css/lightcase.css">
        <!-- swiper css -->
        <link rel="stylesheet" href="/assets/css/swiper.min.css">
        <!-- cusyom scss -->
        <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assets/css/mobile.responsive.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <title>Boozly - Alcoholic beverages delivered to your door within 60 minutes</title>
    </head>

<body>
    <!-- preloader -->
    <div class="preloader">
        <div class="load loade">
            <hr/>
            <hr/>
            <hr/>
            <hr/>
        </div>
    </div>
    <!-- preloader -->

    <!-- Mobile Menu Start Here -->
    <% include ../partials/header %>
        <!-- header section ending -->




        <!-- Contact Us Section Start Here -->
        <section class="contact-information login padding-tb">
            <div class="container">
                <div class="section-wrapper">
                    <div class="row">

                        <div class="col-lg-6 offset-lg-3">
                            <h5>Register</h5>








                            <form id="register-form" action="/boozly/register" method="post" novalidate="novalidate">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="">Your First Name</label>
                                        <input type="text" class="form-control txtOnly" <%if(oldData!=''){%>value="<%-oldData.fname%>" <%}%> name="fname" aria-describedby="" placeholder="">
                                        <span class="symbol-input110">
                                    <span class="lnr lnr-user"></span>
                                        </span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="">Your Last Name</label>
                                        <input type="text" class="form-control txtOnly" <%if(oldData!=''){%>value="<%-oldData.lname%>" <%}%> name="lname" aria-describedby="" placeholder="">
                                        <span class="symbol-input110">
                                    <span class="lnr lnr-user"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Your Email</label>
                                    <input type="email" class="form-control" name="email" <%if(oldData!=''){%>value="<%-oldData.email%>" <%}%> aria-describedby="emailHelp" placeholder="">
                                    <span class="symbol-input110">
                                    <span class="lnr lnr-envelope"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="">Your Password</label>
                                    <input type="password" class="form-control" id="password" <%if(oldData!=''){%>value="<%-oldData.text_password%>" <%}%> aria-describedby="emailHelp" name="text_password" placeholder="">
                                    <span class="symbol-input110">
                                    <span class="lnr lnr-lock"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="">Confirm Password</label>
                                    <input type="password" class="form-control" name="password" <%if(oldData!=''){%>value="<%-oldData.text_password%>" <%}%> id="password2" aria-describedby="" placeholder="">
                                    <span class="symbol-input110">
                                    <span class="lnr lnr-lock"></span>
                                    </span>
                                    <span id='pass_info' style="padding-bottom: 20px;"></span>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="privacy" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">I consent to my personal data being processed for the purpose of fulfilling this agrement, as outlined in the <a style="color: #fb524f;" href="javascript:void(0);">Privacy Policy</a></label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="term" type="checkbox" value="" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">I have read, understood & agree to the <a style="color: #fb524f;" href="javascript:void(0);">Terms and Conditions</a></label>
                                </div>
  	<%   if(typeof FlashMsg != 'undefined' && FlashMsg) { %>
							<label class="error" ><%- FlashMsg %></label>
							<% } %>
                                <button type="submit" class="food-btn"><span>Register Now</span></button>

                                <div class="signup-link text-center">Already have an account? <strong><a style="color: #fb524f;" href="/boozly/login"> Sign in</a></strong></div>

                                <div class="text-center">
                                	<strong><a style="color: #fb524f;" href="/boozly">Back to Home</a></strong>
                                </div>




                            </form>



                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Us Section Ending Here -->




        <% if (ISMOBILE === "1") { %>
            <!-- MOBILE TAB MENU Here -->
                <% include ../partials/tabBar %>
            <% } else { %>
                <% include ../partials/footer %>
            <% } %>
            <!-- scrollToTop start here -->
            <a href="javascript:void(0);" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
            <!-- scrollToTop ending here -->



            <script src="/assets/js/jquery.js"></script>
            <script src="/assets/js/waypoints.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/isotope.pkgd.min.js"></script>
            <script src="/assets/js/wow.min.js"></script>
            <script src="/assets/js/swiper.min.js"></script>
            <script src="/assets/js/lightcase.js"></script>
            <script src="/assets/js/jquery.counterup.min.js"></script>
            <script src="/assets/js/functions.js"></script>
            
        <script src="/assets/js/jquery_validate.js"></script>
    
        <script src="/assets/js/validation.js"></script>
</body>

<% include ../partials/activeclass %>

<script>
 $(".txtOnly").keypress(function (e) {
                var key = e.keyCode;
                if (key >= 48 && key <= 57) {
                    e.preventDefault();
                }
            });
</script>


</html>
