
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <!-- favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
        <!-- animate scss -->
        <link rel="stylesheet" href="assets/css/animate.css">
        <!-- bootstarp css -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- icofont -->
        <link rel="stylesheet" href="assets/css/icofont.min.css">
        <!-- lightcase css -->
        <link rel="stylesheet" href="assets/css/lightcase.css">
        <!-- swiper css -->
        <link rel="stylesheet" href="assets/css/swiper.min.css">
        <!-- cusyom scss -->
        <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/mobile.responsive.css" />


        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        
        <title>Mezban My Orders</title>
    </head>

    <body>
        <!-- preloader -->
        <div class="preloader"><div class="load loade"><hr/><hr/><hr/><hr/></div></div>
        <!-- preloader -->

        <!-- Mobile Menu Start Here -->
        <div class="mobile-menu">
            <nav class="mobile-header d-xl-none">
                <div class="header-logo">
                    <a href="index.html" class="logo"><img src="assets/images/logo/01.png" alt="logo"></a>
                </div>
                <div class="header-bar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <nav class="menu">
                <div class="mobile-menu-area d-xl-none">
                    <div class="mobile-menu-area-inner scrollbar">
                        <div class="mobile-search">
                            <input type="text" placeholder="Search Here.........">
                            <button type="submit"><i class="icofont-search-2"></i></button>
                        </div>
                        <ul>
                            <li> <a class="active" href="index.html">Home</a></li>
                            <li><a href="search.html">Find a Drink</a></li> 
                            <li><a href="login.html">Login</a></li>
                        </ul>
                        <div class="scocial-media">
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                            <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Mobile Menu Ending Here -->

        <!-- header section start -->
        <header class="header-section d-xl-block d-none">
            <div class="container-fluid">
                <div class="header-area">

                    <div class="col-md-3">
                     <div class="header-left">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo/01.png" alt="logo"></a>
                        </div>
                     </div>
                    <!-- /header-left -->
                    </div>

                    <div class="col-md-9">
                        <div class="header-right">
                            <div class="main-menu">
                                <ul>
                                    <li> <a class="active" href="index.html">Home</a></li>
                                    <li><a href="search.html">Find a Drink</a></li> 
                                    <li><a href="login.html">Login</a></li>
                                    <li class="cart-option">
                                            <img src="assets/images/header/cart.png" alt="shop-cart">
                                            <div class="count-item">04</div>
                                            <div class="cart-content">
                                            <div class="cart-title">
                                                <div class="add-item">4 Items Added</div>
                                                <div class="list-close"><a href="#">Close</a></div>
                                            </div>
                                            <div class="cart-scr scrollbar">
                                                <div class="cart-con-item">
                                                    <div class="cart-item">
                                                        <div class="cart-inner">
                                                            <div class="cart-top">
                                                                <div class="thumb">
                                                                    <a href="#"><img src="assets/images/popular-food/01.jpg" alt=""></a>
                                                                </div>
                                                                <div class="content">
                                                                    <a href="#">Split Remedy Split End Shampoo</a>
                                                                </div>
                                                                <div class="remove-btn">
                                                                    <a href="#"><i class="icofont-close"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-bottom">
                                                                <div class="sing-price">Tk. 140</div>
                                                                <div class="cart-plus-minus"><div class="dec qtybutton">-</div><div class="dec qtybutton">-</div>
                                                                    <div class="dec qtybutton">-</div>
                                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                                    <div class="inc qtybutton">+</div>
                                                                <div class="inc qtybutton">+</div><div class="inc qtybutton">+</div></div>
                                                                <div class="total-price">Tk. 280.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-item">
                                                        <div class="cart-inner">
                                                            <div class="cart-top">
                                                                <div class="thumb">
                                                                    <a href="#"><img src="assets/images/popular-food/02.jpg" alt=""></a>
                                                                </div>
                                                                <div class="content">
                                                                    <a href="#">Split Remedy Split End Shampoo</a>
                                                                </div>
                                                                <div class="remove-btn">
                                                                    <a href="#"><i class="icofont-close"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-bottom">
                                                                <div class="sing-price">Tk. 140</div>
                                                                <div class="cart-plus-minus"><div class="dec qtybutton">-</div><div class="dec qtybutton">-</div>
                                                                    <div class="dec qtybutton">-</div>
                                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                                    <div class="inc qtybutton">+</div>
                                                                <div class="inc qtybutton">+</div><div class="inc qtybutton">+</div></div>
                                                                <div class="total-price">Tk. 280.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-item">
                                                        <div class="cart-inner">
                                                            <div class="cart-top">
                                                                <div class="thumb">
                                                                    <a href="#"><img src="assets/images/popular-food/03.jpg" alt=""></a>
                                                                </div>
                                                                <div class="content">
                                                                    <a href="#">Split Remedy Split End Shampoo</a>
                                                                </div>
                                                                <div class="remove-btn">
                                                                    <a href="#"><i class="icofont-close"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-bottom">
                                                                <div class="sing-price">Tk. 140</div>
                                                                <div class="cart-plus-minus"><div class="dec qtybutton">-</div><div class="dec qtybutton">-</div>
                                                                    <div class="dec qtybutton">-</div>
                                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                                    <div class="inc qtybutton">+</div>
                                                                <div class="inc qtybutton">+</div><div class="inc qtybutton">+</div></div>
                                                                <div class="total-price">Tk. 280.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-item">
                                                        <div class="cart-inner">
                                                            <div class="cart-top">
                                                                <div class="thumb">
                                                                    <a href="#"><img src="assets/images/popular-food/04.jpg" alt=""></a>
                                                                </div>
                                                                <div class="content">
                                                                    <a href="#">Split Remedy Split End Shampoo</a>
                                                                </div>
                                                                <div class="remove-btn">
                                                                    <a href="#"><i class="icofont-close"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="cart-bottom">
                                                                <div class="sing-price">Tk. 140</div>
                                                                <div class="cart-plus-minus"><div class="dec qtybutton">-</div><div class="dec qtybutton">-</div>
                                                                    <div class="dec qtybutton">-</div>
                                                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                                    <div class="inc qtybutton">+</div>
                                                                <div class="inc qtybutton">+</div><div class="inc qtybutton">+</div></div>
                                                                <div class="total-price">Tk. 280.00</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-scr-bottom">
                                                <ul>
                                                    <li>
                                                        <div class="title">Subtotal</div>
                                                        <div class="price">Tk. 1045.00</div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Shipping</div>
                                                        <div class="price">Tk. 40.00</div>
                                                    </li>
                                                    <li>
                                                        <div class="title">Cart Total</div>
                                                        <div class="price">Tk. 1085.00</div>
                                                    </li>
                                                </ul>
                                                <a href="#" class="food-btn"><span>Place Order</span></a>
                                            </div>
                                        </div>
                                    </li>   
                                </ul>
                            </div>

                




                        </div>
                        <!-- /header-right -->
                    </div>
                    


                    


                </div>
            </div>
        </header>
        <!-- header section ending -->
        



        <!-- Checkout Section Start Here -->
        <section class="shop-cart padding-tb">
            <div class="container">
                <div class="section-wrapper past-orders-info">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-header text-left">
                                <h3>Checkout</h3>
                                <span><i class="icofont-clock-time"></i> Deliver in 20 - 40 mins</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="checkout-contents">
                                
                                <div class="single-checkout left">
                                    <div class="user-account">
                                        <h5>Delivery Address</h5>     
                                        <div class="user-address">


                                            <div class="user-address-head">
                                                <p>No. 64 Laleh Street <br>
                                                 4th Floor, Keshavarz Blvd. <br>
                                                 Tehran, Iran
                                             </p>             
                                            </div>
                                            
                                            <div class="user-address-delete">
                                                
                                                <a href="#exampleModalCenter3" data-toggle="modal"><span>Edit</span></a>
                                            </div>
                                        </div>

                                        <div class="delivery-note">    
                                            <div class="form-group">
                                                <label>Add a Delivery Note</label>
                                               <textarea class="form-control"></textarea>          
                                            </div>
                                    </div>



                                    </div>
                                    <!-- /user account -->




                                </div>

                                <div class="single-checkout left">
                                    <div class="item-details user-account">
                                        <h5><a href="#">Your Basket</a></h5>
                                        <ul class="order-address">
                                            <li style="color: #362725; font-weight: 600;padding: 0;">Michael's Supermarket, Damson, Solihull, S12 3DJ</li>
                                        </ul>

                                        <table class="table">
                                          <tbody>
                              
                                            <tr>
                                              <th scope="col">Item</th>
                                              <th scope="col" style="text-align: center;">QTY</th>
                                              <th style="text-align: right;" scope="col">Price</th>
                                            </tr>
                                            <tr>
                                              <td scope="row">Bacardi Carta Blanca Superior White Rum 1.5 ltr<br>Single</td>
                                              <td style="text-align: center;">
                                                    <div class="cart-bottom unit-counter">
                                                        <div class="cart-plus-minus"><div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <input class="cart-plus-minus-box unit-counter-box" type="text" name="qtybutton" value="1">
                                                            <div class="inc qtybutton">+</div>
                                                            <div class="inc qtybutton">+</div>
                                                            <div class="inc qtybutton">+</div>
                                                        <div class="inc qtybutton">+</div></div>
                                                    </div>
                                                    
                                              </td>
                                              <td style="text-align: right;"> 150.00</td>
                                            </tr>
                                            <tr>
                                              <td scope="row">Bacardi Carta Blanca Superior White Rum 2.5 ltr<br>Single</td>
                                              <td style="text-align: center;">
                                                    <div class="cart-bottom unit-counter">
                                                        <div class="cart-plus-minus"><div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <div class="dec qtybutton">-</div>
                                                            <input class="cart-plus-minus-box unit-counter-box" type="text" name="qtybutton" value="1">
                                                            <div class="inc qtybutton">+</div>
                                                            <div class="inc qtybutton">+</div>
                                                            <div class="inc qtybutton">+</div>
                                                        <div class="inc qtybutton">+</div></div>
                                                    </div>
                                                    
                                              </td>
                                              <td style="text-align: right;"> £50.00</td>
                                            </tr>

                                            <tr class="border-top">
                                              <th style="font-weight: 600;">Subtotal</th>
                                              <td style="font-weight: 600;"></td>
                                              <td style="font-weight: 600;text-align: right;">£200.00</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                </div>
                                </div>



                                <div class="single-checkout left">
                                    <div class="user-account">
                                        <h5>Payment Method</h5> 
                                        <div class="user-card-details">
                                           
                                            <div class="user-card">
                                                    <div class="visa-img">
                                                        <img src="assets/images/visa.png">

                                                    </div>

                                                    <div class="visa-text">
                                                        <span> Ending 1234</span>
                                                    </div>
                                                    
                                                    <div class="delete-btn">
                                                        <a href="#exampleModalCenter4" data-toggle="modal"><span>Edit</span></a>
                                                    </div>
                                                         
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- /user account -->
                                </div>




                                <div class="single-checkout left">
                                    <div class="user-account">
                                        <h5>Add a Promo Code</h5> 
                                            <div class="coupon-code">   
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="" placeholder="Coupon Code">  
                                               <button>Apply</button>          
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /user account -->
                                </div>



                                <div class="single-checkout left">
                                    <div class="user-account cart-bottom">
                                        <h5>Add a Tip</h5> 
                                        <div class="shiping-box"> 
                                            <div class="calculate-shiping"> 
                                                <div class="outline-select">
                                                    <select>
                                                        <option value="volvo">Tip One</option>
                                                        <option value="saab">Tip Two</option>
                                                        <option value="saab">Tip Three</option>
                                                        <option value="saab">Tip Four</option>
                                                        <option value="saab">Tip Five</option>
                                                    </select>
                                                    <span class="select-icon"><i class="icofont-caret-down"></i></span>
                                                 </div> 
                                            </div> 
                                        </div>
                                    </div>
                                    <!-- /user account -->
                                </div>







                            </div>
                        </div>
                        <!-- /col-8 -->


                        <div class="col-lg-4">

                            <div class="widget widget-checkout" id="sticker">
                                <div class="widget-header">
                                <h5 class="payment-title">Order Summary</h5>
                            </div>
                            <div class="single-checkout">
                                <div class="user-account">
                                 <table class="table summary-table">
                                                <tbody>
                                                    <tr>
                                                        <th style="font-weight: 400;">Basket</th>
                                                        <td style="font-weight: 400;"></td>
                                                        <td style="font-weight: 400;text-align: right;" class="total">£
                                                            <%-(sub_total).toFixed(2)%>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th style="font-weight: 400;">Promo discount</th>
                                                        <td style="font-weight: 400;"></td>
                                                        <td style="font-weight: 400;text-align: right;" id="sidepromo">£0.00</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="font-weight: 400;">Delivery fee</th>
                                                        <td style="font-weight: 400;"></td>
                                                        <td style="font-weight: 400;text-align: right;">£
                                                            <%-(deliver_charges).toFixed(2)%>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="font-weight: 400;">Tax</th>
                                                        <td style="font-weight: 400;"></td>
                                                        <td style="font-weight: 400;text-align: right;" class="taxes">£
                                                            <%-(taxes).toFixed(2)%>
                                                        </td>
                                                    </tr>

                                                    <tr class="border-top">
                                                        <th style="font-weight: 600;">Total</th>
                                                        <td style="font-weight: 600;"></td>
                                                        <td style="font-weight: 600;text-align: right;" class="totalamt" total="<%-total%>">£
                                                            <%-(Number(total)+Number(taxes)).toFixed(2)%>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                </div>
                                <!-- /user account -->
                            </div>

                            <div class="checkout-btn">
                                  <button type="submit" class="food-btn btn-lg" onclick="placeorder()"><span>Place Order
                                    <div class="
                                    "></div>
                                  </span></button>
                              </div>
                            </div>
                            

                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
        </section>
        <!-- Checkout Section Ending Here -->




        <!-- Footer Section Start Here -->
        <footer class="footer">
            <div class="bg-shape-style"></div>
            <div class="container">
                <div class="footer-top">
                    <div class="footer-area text-center">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/header/footer/01.png" alt="footer-logo"></a>
                        </div>
                        <div class="scocial-media">
                            <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                            <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                            <a href="#" class="vimeo"><i class="icofont-vimeo"></i></a>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">How it works?</a></li>
                                <li><a href="#">Menus</a></li>
                                <li><a href="#">Chefs</a></li>
                                <li><a href="#">Recipes</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <p>&copy; 2019 <a href="#"><span>Mezban</span></a> Design by <a href="#"><span>FoxCoders</span></a>.</p>
                </div>
            </div>
        </footer>
        <!-- Footer Section Ending Here -->
        
        <!-- scrollToTop start here -->
        <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
        <!-- scrollToTop ending here -->
















        <!-- Modal Edit Address/ Payment Modal 3 -->
        <div class="modal fade edit-address" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Delivery Address</h4>
                <div class="modal-remove-btn">
                    <a data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icofont-close"></i></a>
                </div>
              </div>

            




              <div class="modal-body">
                

                <div class="container">

                    <div class="panel panel-primary">
                      <div class="panel-heading text-left">
                        <h4 class="panel-title">Use a Previous Address</h4>
                      </div>
                      <div class="panel-body">

                        <div class="exist-address">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="addressOption1" value="option1">
                                      <label class="form-check-label" for="addressOption1">
                                        No. 64 Laleh Street 4th Floor, Keshavarz Blvd. Tehran, Iran
                                      </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="addressOption2" value="option2">
                                      <label class="form-check-label" for="addressOption2">
                                        No. 95 Ujampur, Uttara, Dhaka, Bangladesh
                                      </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="addressOption3" value="option3">
                                      <label class="form-check-label orange-text" for="addressOption3">
                                        Add a New Address
                                      </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                      </div>



                      <div class="collapse panel panel-primary" id="openNewAddress">
                           <div class="panel-heading text-left">
                              </div>
                              <div class="panel-body">
                                  <div id="address">
                                      <div class="row">
                                         <div class="col-md-6">
                                            <label class="control-label">Street address 1</label>
                                            <input class="form-control" id="street_number" >
                                         </div>
                                         <div class="col-md-6">
                                            <label class="control-label">Street address 2</label>
                                            <input class="form-control" id="route" >
                                         </div>
                                      </div>
                                      <div class="row">
                                         <div class="col-md-6">
                                            <label class="control-label">Town / City</label>
                                            <input class="form-control field" id="locality" >
                                         </div>
                                         <div class="col-md-6"> 
                                            <label class="control-label">County</label>
                                            <input class="form-control" id="administrative_area_level_1" >
                                         </div>
                                      </div>
                                      <div class="row">
                                         <div class="col-md-12">
                                            <label class="control-label">Post code</label>
                                            <input class="form-control" id="postal_code" >
                                         </div>
                                      </div>
                                   </div>
                              </div>
                            </div>



                    </div>  
                
              </div>
              <div class="modal-footer">
                <a href="" class="food-btn"><span>Update</span></a>
              </div>
            </div>
          </div>
        </div>







        <!-- Modal Edit Address/ Payment Modal 4 -->
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Payment Method</h4>
                <div class="modal-remove-btn">
                    <a data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="icofont-close"></i></a>
                </div>
              </div>

            




              <div class="modal-body">
                

                <div class="container">




                    <div class="panel panel-primary">
                      <div class="panel-heading text-left">
                        <h4 class="panel-title">Use an Existing Payment Method</h4>
                      </div>
                      <div class="panel-body">

                        <div class="exist-address">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="paymentOption1" value="option2">
                                      <label class="form-check-label" for="paymentOption1">
                                        <img src="assets/images/visa.png" width="20px" height="20px"><span> Ending 1234</span>
                                      </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="paymentOption2" value="option2">
                                      <label class="form-check-label" for="paymentOption2">
                                        <img src="assets/images/visa.png" width="20px" height="20px"><span> Ending 3256</span>
                                      </label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-check select-address">
                                      <input class="form-check-input address-option" type="radio" name="exampleRadios" id="paymentOption3" value="option3">
                                      <label class="form-check-label" for="paymentOption3">
                                        <span class="orange-text"> Add a New Payment Method</span>
                                      </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                      </div>





                    <div class="collapse panel panel-primary" id="openNewPayment">
                      <div class="panel-heading text-center">
                        <!-- <h4 class="panel-title">Update Payment Method</h4> -->
                      </div>
                      <div class="panel-body">

                        <div class="new-card-info">
                            <div class="row">
                                <div class="col-md-6">
                                    <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                                    <div class='form-row'>
                                      <div class='col-md-12 form-group required'>
                                        <label class='control-label'>Name on Card</label>
                                        <input class='form-control' type='text'>
                                      </div>
                                    </div>
                                    <div class='form-row'>
                                      <div class='col-md-12 form-group required'>
                                        <label class='control-label'>Card Number</label>
                                        <input autocomplete='off' class='form-control card-number' type='text'>
                                      </div>
                                    </div>
                                    <div class='form-row'>
                                      <div class='col-md-4 form-group required'>
                                        <label class='control-label'>CVC</label>
                                        <input autocomplete='off' class='form-control' placeholder='ex. 311' size='4' type='text'>
                                      </div>
                                      <div class='col-md-4 form-group required'>
                                        <label class='control-label'>Expiration</label>
                                        <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'>
                                      </div>
                                      <div class='col-md-4 form-group required'>
                                        <label class='control-label'> </label>
                                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>



                    </div>  
                
              </div>
              <div class="modal-footer">
                <a href="" class="food-btn"><span>Update</span></a>
              </div>
            </div>
          </div>
        </div>


        
        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/swiper.min.js"></script>
        <script src="assets/js/lightcase.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/jquery.sticky.js"></script>
        <script src="assets/js/functions.js"></script>
    </body>
</html>